body {
  background-color: yellow;
}
h1 {
  color: violet;
  text-align: center;
}
p {
  color: darkblue;
  font-size: 18px;
  text-align: center;
}
h2 {
  color: darkgreen;
  text-align: center;
}
ul li {
  color: darkred;
  font-size: 18px;
}
img {
  width: 800px;
  border: 10px solid red;
}
